<div id="page-wrapper">    
    <div class="container-fluid">
       
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">
                    Assign asset
                </h2>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="/#/dashboard">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-edit"></i> Assign asset
                    </li>
                </ol>
            </div>
        </div>
                
        <div class="alert alert-success" ng-if="status=='success'">
            <span class="glyphicon glyphicon-ok" style="color:green"></span> {{ack}}
        </div>
        
        <div class="alert alert-danger" role="alert" ng-if="dateIncorrect">
            {{dateIncorrect}}
        </div>
        
        <div class="col-lg-6">                      
            <form id="addAsset-form" name="addAsset-form" method="POST" role="form">
                 <div class="form-group">
                    <label>Assign to</label>
                    <select ng-model="assignTo"  ng-init="assignTo = assignTo" ng-options="user.loginId as user.loginId for user in allUsers" required class="form-control"></select>
                </div>
                
                 <div class="form-group">
                    <label>From date (mm-dd-yyyy)</label>
                    <input name="fromDate" id="fromDate" ng-model="fromDate" class="form-control" required>                    
                </div>
                
                 <div class="form-group">
                    <label>To Date (mm-dd-yyyy)</label>
                    <input name="toDate" id="toDate" ng-model="toDate" class="form-control">                    
                </div>
                
                
                <div class="form-group">
                    <label>Remarks</label>
                    <textarea  name="remarks" id="remarks" ng-model="remarks" class="form-control" rows="5"></textarea>                 
                </div>
                               
                
                <div class="form-group">
                    <br />
                    <button type="submit" class="btn btn-default" ng-click="assignAsset()">Submit</button>
                    <button type="reset" class="btn btn-default">Reset</button>
                </div>
            </form>
        </div>
        
    </div><!-- /.container-fluid -->
</div><!-- /#page-wrapper -->

